@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
  .dx-toast-success {  
  background-color: #5cb85c;  
  max-width: 400px;  
}  
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 @using (Html.BeginForm("LoginAction", "Login"))
                            {
                                <button type="submit" name="ButtonOn" class="btn btn-success btn-lg btn-block" value="1">登入</button>
                            }
<div id="toolbar"></div>
<div id="scheduler"></div>
<div id="context-menu"></div>
 
<script type="text/javascript">
const appointmentClassName = '.dx-scheduler-appointment';
  const cellClassName = '.dx-scheduler-date-table-cell';

  const data = [
  {
    id:1,
    text: 'Watercolor Landscape',
    roomId: 1,
    startDate: new Date('2024-12-19 08:00:00'),
    endDate: new Date('2024-12-19 11:00:00'),
    color: '#bbd806',
     colorid:1,
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=MO,TH;COUNT=10',
  }, {
    id:2,
    text: 'Oil Painting for Beginners',
    roomId: 2,
    startDate: new Date('2024-12-19 12:00:00'),
    endDate: new Date('2024-12-19 13:00:00'),
    color: '#bbd80a6',
    colorid:2,
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=SU,WE;COUNT=10',
  }, {
    id:8,
    text: 'Testing',
    roomId: 1,
     startDate: new Date('2024-12-19 12:00:00'),
    endDate: new Date('2024-12-19 13:00:00'),
    color: '#bba806',
    colorid:3,
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=SU;WKST=TU;INTERVAL=2;COUNT=2',
  }, {
    id:3,
    text: 'Meeting of Instructors',
    roomId: 2,
   startDate: new Date('2024-12-19 18:00:00'),
    endDate: new Date('2024-12-19 19:00:00'),
    recurrenceRule: 'FREQ=DAILY;BYDAY=TU;UNTIL=20201203',
    color: '#bcd806',
    colorid:4,
  }, {
    id:4,
    text: 'Recruiting students',
    roomId: 1,
     startDate: new Date('2024-12-19 14:00:00'),
    endDate: new Date('2024-12-19 15:00:00'),
    recurrenceRule: 'FREQ=YEARLY;BYWEEKNO=50;WKST=SU',
    color: '#f34c8a',
    colorid:5,
    //recurrenceException: '20201212T190000Z',
  }, {
    id:5,
    text: 'Final exams',
    roomId: 2,
   startDate: new Date('2024-12-19 16:00:00'),
    endDate: new Date('2024-12-19 17:00:00'),
    color: '#03bb92',
    colorid:6,
    //recurrenceRule: 'FREQ=YEARLY;BYWEEKNO=51;BYDAY=WE,TH',
  }, {
    id:6,
    text: 'Monthly Planning',
    roomId: 2,
     startDate: new Date('2024-12-19 10:00:00'),
    endDate: new Date('2024-12-19 11:00:00'),
    color: '#ae7fcc',
    colorid:1,
    //recurrenceRule: 'FREQ=MONTHLY;BYMONTHDAY=28;COUNT=1',
  }, {
    id:7,
    text: 'Open Day',
    roomId: 2,
     startDate: new Date('2024-12-19 19:00:00'),
    endDate: new Date('2024-12-19 20:00:00'),
    color: '#f34c8',
    colorid:2,
   // recurrenceRule: 'FREQ=YEARLY;BYYEARDAY=333',
  },
];

  const data2 = [
 {
    id:10,
    text: 'Testing',
    roomId: 3,
     startDate: new Date('2024-12-19 12:00:00'),
    endDate: new Date('2024-12-19 13:00:00'),
    color: '#bba806',
     colorid:1,
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=SU;WKST=TU;INTERVAL=2;COUNT=2',
  }, {
    id:11,
    text: 'Meeting of Instructors',
    roomId: 4,
     colorid:2,
   startDate: new Date('2024-12-19 11:00:00'),
    endDate: new Date('2024-12-19 13:00:00'),
    color: '#fcd90a',
  }, {
    id:12,
    text: 'Recruiting students',
    roomId: 3,
     colorid:3,
     startDate: new Date('2024-12-19 17:00:00'),
    endDate: new Date('2024-12-19 20:00:00'),
    color: '#f34c8a',
    //recurrenceException: '20201212T190000Z',
  },{
    id:13,
    text: 'Open Day',
    roomId: 4,
    colorid:4,
     startDate: new Date('2024-12-19 19:00:00'),
    endDate: new Date('2024-12-19 20:00:00'),
    color: '#f3dd08',

  },
];
const colordata= [
  {
    id:1,
    color: '#bcd80a6',
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=MO,TH;COUNT=10',
  }, {
    id:2,
    color: '#cbc80c6',
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=SU,WE;COUNT=10',
  }, {
    id:3,
    color: '#baa8a6',
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=SU;WKST=TU;INTERVAL=2;COUNT=2',
  }, {
    id:4,
    color: '#baa8a6',
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=SU;WKST=TU;INTERVAL=2;COUNT=2',
  }, {
    id:5,
    color: '#baa8a6',
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=SU;WKST=TU;INTERVAL=2;COUNT=2',
  }, {
    id:6,
    color: '#baa8a6',
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=SU;WKST=TU;INTERVAL=2;COUNT=2',
  }, {
    id:7,
    color: '#baa8a6',
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=SU;WKST=TU;INTERVAL=2;COUNT=2',
  }, {
    id:8,
    color: '#baa8a6',
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=SU;WKST=TU;INTERVAL=2;COUNT=2',
  }, {
    id:9,
    color: '#baa8a6',
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=SU;WKST=TU;INTERVAL=2;COUNT=2',
  }, {
    id:10,
    color: '#baa8a6',
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=SU;WKST=TU;INTERVAL=2;COUNT=2',
  }
  , {
    id:11,
    color: '#baa8a6',
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=SU;WKST=TU;INTERVAL=2;COUNT=2',
  }, {
    id:12,
    color: '#baa8a6',
    //recurrenceRule: 'FREQ=WEEKLY;BYDAY=SU;WKST=TU;INTERVAL=2;COUNT=2',
  },];
console.log(data);
const resourcesData = [
  {
    text: 'Room 101',
    id: 1,
    color: '#bbd806',
  }, {
    text: 'Room 102',
    id: 2,
    color: '#f34c8a',
  }, {
    text: 'Room 103',
    id: 3,
    color: '#ae7fcc',
  }, {
    text: 'Meeting room',
    id: 4,
    color: '#ff8817',
  }, {
    text: 'Conference hall',
    id: 5,
    color: '#03bb92',
  },
];
var place1=  [{ id: 1, text: 'Room101', },
        { id: 2, text: 'Room102', },]
var place2=  [{ id: 3, text: 'Room103', },
        { id: 4, text: 'Room104', },]
var roomResource = {
    fieldExpr: 'roomId',
   useColorAsDefault: false,
   
    dataSource: place1,
};

var appResource = {
    fieldExpr: 'colorid',
    valueExpr: 'id',
    useColorAsDefault: true,
    colorExpr:'color',
    dataSource: resourcesData,
};
    $(document).ready(function(){
       // DevExpress.config({ licenseKey: 'd54q3da7eBIv2PYSubvNKboBarIhxrEbAbztAT6R3e86oKwReW' });
        console.log("jquery load.....");
        $("#scheduler").dxScheduler({
        // Configuration goes here
         views: ['day', 'week', 'workWeek'],
    currentView: 'day',
    currentDate: new Date(),
    startDayHour: 9,
    endDayHour: 21,
    groups:['roomId'],
    dataSource: data,
    resources: [ roomResource ,appResource],
     resourceCellTemplate: function (data, index, element) {
            element.append("<i style='color: '"+data.color+"'+>" + data.text + "</i>");
        },
    appointmentTemplate:function(model)  {
      console.log("appointmentTemplate....");
      var movieInfo='123';
      var price=123;
         return $(`${"<div class='showtime-preview'>"
                        + '<div>'}${model.targetedAppointmentData.text}</div>`
                        + `<div>Ticket Price: <strong>$${price}</strong>`
                        + '</div>'
                        + `<div>${DevExpress.localization.formatDate(model.targetedAppointmentData.displayStartDate, 'shortTime')
                        } - ${DevExpress.localization.formatDate(model.targetedAppointmentData.displayEndDate, 'shortTime')
                        }</div>`
                    + '</div>');
    },
   appointmentCollectorTemplate:function(data, index,element)  {
      console.log("appointmentTemplate....");
       element.append("<i>123</i>");
       element.append("<p>Price: 456</p>");
    },
    onAppointmentDeleted(e)
    {
        console.log("Appointment was deleted");
    },
     onAppointmentDeleting(e)
    {
      if(confirm("你確定要刪除嗎？？？")){
          e.cancel = false;
      }else {
          e.cancel = true;
      }
     
      console.log("appointment deleting....");
    },
     onAppointmentAdding(e) {
       console.log(e);
      var currentDate=new Date();
      if(e.appointmentData.startDate>currentDate)
      {
        //e.cancel =  true;
        //e.component.deleteAppointment(e.appointmentData);
        //deleteAppointment (e);
        
        setTimeout(() => {
           //e.component.deleteAppointment(e.appointmentData);
            DevExpress.ui.notify({message:'預約成功...',type:'error',durtion:3000, position: 'top right', direction: 'down-push'} );
}, "1000");
        return ;
      }
      DevExpress.ui.notify({message:'預約成功',type:'success',durtion:3000, position: 'top right', direction: 'down-push'} );
     
    },
     onAppointmentContextMenu(e) {
      updateContextMenu(
        false,
        appointmentContextMenuItems,
        appointmentClassName,
        itemTemplate,
        onItemClick(e),
      );
    },
    onCellContextMenu(e) {
      console.log("onCellContextMenu");
      updateContextMenu(false, cellContextMenuItems, cellClassName, 'item', onItemClick(e));
    }
    });
    const contextMenuInstance = $('#context-menu').dxContextMenu({
    width: 200,
    dataSource: [],
    disabled: true,
    target: appointmentClassName,
  }).dxContextMenu('instance');
$('#toolbar').dxToolbar({
    items: [{
      location: 'before',
      widget: 'dxButton',
      options: {
        text:'白班',
        icon: 'sun',
        onClick() {
          var scheduler= $("#scheduler").dxScheduler('instance');
          if(scheduler.option('currentView')!="month"){
          scheduler.option('startDayHour',9);
          scheduler.option('endDayHour',13);
          DevExpress.ui.notify({message:'切換白天行事曆!',type:'success',durtion:3000, position: 'top right', direction: 'down-push'} );
         }
         else {
           DevExpress.ui.notify({message:'現在檢視模式為月行事曆....',type:'error',durtion:3000, position: 'top right', direction: 'down-push'} );
         }
        },
      },
    }, {
      location: 'before',
      widget: 'dxButton',
      locateInMenu: 'auto',
      options: {
        text:'晚班',
        icon: 'moon',
        onClick() {
          var scheduler= $("#scheduler").dxScheduler('instance');
          if(scheduler.option('currentView')!="month")
          {
            if(scheduler.option('endDayHour')!=21){
              scheduler.option('endDayHour',21);
             }
          
          scheduler.option('startDayHour',17);
          //scheduler.option('endDayHour',21);
          //scheduler.option('offset',12);
          DevExpress.ui.notify({message:'切換晚上行事曆斑!',type:'success',durtion:3000, position: 'top right', direction: 'down-push'} );
         }
         else {
           DevExpress.ui.notify({message:'現在檢視模式為月行事曆....',type:'error',durtion:3000, position: 'top right', direction: 'down-push'} );
         }
        }
      }}, {
      location: 'before',
      widget: 'dxButton',
      locateInMenu: 'auto',
      options: {
        text:'基港大樓',
        icon: 'user',
        onClick() {
          var scheduler= $("#scheduler").dxScheduler('instance');
           d1=scheduler.option("resources[0]");
           d2=scheduler.option("resources[1]");
           console.log(d1.dataSource);
            console.log(d2.dataSource);
            //d1.=roomResource2;
            d1.dataSource =place1;
            //d2.dataSource =data;
            scheduler.option("resources[0]",d1);
            //scheduler.option("resources[1]",d2);
           scheduler.option("dataSource",data);
           //scheduler.render();
            //scheduler.refresh();

        }
        }
        }, 
      
      {
      location: 'before',
      widget: 'dxButton',
      locateInMenu: 'auto',
      options: {
        text:'海港大樓',
        icon: 'house',
        onClick() {
            var scheduler= $("#scheduler").dxScheduler('instance');

             d1=scheduler.option("resources[0]");
              d2=scheduler.option("resources[1]");
            console.log(d1.dataSource);
            console.log(d2.dataSource);
            //d1.=roomResource2;
            d1.dataSource=place2;
            d2.dataSource=data2;
           // d2.colorExprr="color";
            //d2.useColorAsDefault=true;
            
            scheduler.option("resources[0]",d1);
            //scheduler.option("resources[1]",d2);
            scheduler.option("dataSource",data2);
            //scheduler.render();

        }}
        
        },
      
      {
      location: 'center',
      locateInMenu: 'never',
      template() {
        return $("<div class='toolbar-label'><b>Tom's Club</b> Products</div>");
      },
    }],
  });
  const updateContextMenu = function (disable, dataSource, target, itemTemplate, onItemClick) {
    contextMenuInstance.option({
      dataSource,
      target,
      itemTemplate,
      onItemClick,
      disabled: disable
    });
  };

  const itemTemplate = function (itemData) {
    return getAppointmentMenuTemplate(itemData);
  };

  const onItemClick = function (contextMenuEvent) {
    return function (e) {
      e.itemData.onItemClick(contextMenuEvent, e);
    };
  };

  const createAppointment = function (e) {
    console.log(e);
    var currentDate=new Date();
      if(e.cellData.startDate<currentDate)
      {
       DevExpress.ui.notify({message:'予約時間已過，請重新選擇日期時間...',type:'error',durtion:3000, width:'400px',position: 'top right', direction: 'down-push'} );
        return ;
      }
    e.component.showAppointmentPopup({
      startDate: e.cellData.startDate,
    }, true);
  };

  const createRecurringAppointment = function (e) {
    e.component.showAppointmentPopup({
      startDate: e.cellData.startDate,
      recurrenceRule: 'FREQ=DAILY',
    }, true);
  };

  const groupCell = function (e) {
    const scheduler = e.component;

    if (scheduler.option('groups')) {
      scheduler.option({ crossScrollingEnabled: false, groups: undefined });
    } else {
      scheduler.option({ crossScrollingEnabled: true, groups: ['roomId'] });
    }
  };

  const showCurrentDate = function (e) {
    e.component.option('currentDate', new Date());
  };

  const showAppointment = function (e) {
    e.component.showAppointmentPopup(e.appointmentData);
  };

  const deleteAppointment = function (e) {
    console.log("delete appointment...");
    e.component.deleteAppointment(e.appointmentData);
  };

  const repeatAppointmentWeekly = function (e) {
    const itemData = e.appointmentData;

    e.component.updateAppointment(itemData, $.extend(itemData, {
      startDate: e.targetedAppointmentData.startDate,
      recurrenceRule: 'FREQ=WEEKLY',
    }));
  };

  const setResource = function (e, clickEvent) {
    const itemData = e.appointmentData;
    console.log("setResource");
    e.component.updateAppointment(itemData, $.extend(itemData, {
      roomId: [clickEvent.itemData.id],
    }));
  };

  const cellContextMenuItems = [
    { text: 'New Appointment', onItemClick: createAppointment },
    { text: 'New Recurring Appointment', onItemClick: createRecurringAppointment },
    { text: 'Group by Room/Ungroup', beginGroup: true, onItemClick: groupCell },
    { text: 'Go to Today', onItemClick: showCurrentDate }
  ];

  let appointmentContextMenuItems = [
    { text: 'Open', onItemClick: showAppointment },
    { text: 'Delete', onItemClick: deleteAppointment },
    { text: 'Repeat Weekly', beginGroup: true, onItemClick: repeatAppointmentWeekly },
    { text: 'Set Room', beginGroup: true, disabled: true },
  ];

  $.each(resourcesData, (i, item) => {
    item.onItemClick = setResource;
  });

  appointmentContextMenuItems = $.merge(appointmentContextMenuItems, resourcesData);

  const getAppointmentMenuTemplate = function (itemData) {
    const template = $('<div></div>');

    if (itemData.color) {
      $('<div>')
        .addClass('item-badge')
        .css('background-color', itemData.color)
        .appendTo(template);
    }
    template.append(itemData.text);
    return template;
  };
    });
</script>
