@page
@model PrivacyModel
@using System.Text.Json
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = "預約表 (週一至週五)";
   // ViewData["startDate"] = DateTime.Parse("2024-12-02");
   // ViewData["sndDate"] = DateTime.Parse("2024-12-07");
    var startDate = ViewData["startDate"];
  var endDate = ViewData["endDate"];
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}
<h2>@ViewData["Title"]</h2>

<form id="form1" method="post">
  @Html.AntiForgeryToken()
<input type="hidden" id="startDate" value='@ViewData["startDate"]' />
<input type="hidden" id="endDate"  value='@ViewData["endDate"]' />
<div id="toolbar"></div>
<div>
<partial name="_partial_Booking" model="Model" />
</div>

</form>

<script>
  
  $(document).ready(function(){


  
  $('#toolbar').dxToolbar({
    items: [{
      location: 'before',
      widget: 'dxButton',
      options: {
        text:'前一週',
        icon: 'back',
        onClick() {
          var startDate=new Date($('#startDate').val())
          var endDate=new Date($('#endDate').val());
          $('#startDate').val(addDays(startDate,-7));
          $('#endDate').val(addDays(endDate,-7));
          var requestData = {
                "stratDate": $('#startDate').val(),
                "endDate": $('#endDate').val()
            };
          var serializedModel = JSON.stringify(requestData);
          var formData = new FormData();
          formData.append("stratDate", $('#startDate').val);
          formData.append("endDate", $('#endDate').val);
           /*$.get("Privacy?handler=ReadMsg").done(function (res) {
                console.log(res);
                $("#selectTable").html(res);
            });*/
          $.ajax({
        method: "post",
        url: "Privacy?handler=Query",
        data :{
                "startDate": $('#startDate').val(),
                "endDate": $('#endDate').val()
            },
        //加上X-CSRF-TOKEN header
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRF-TOKEN",
                $('input:hidden[name="__RequestVerificationToken"]').val());
        },
        error: function (xhr, status, err) {
            alert(err);
        }
    }).done(function (res) {
        $("#selectTable").html(res);
    });
          //DevExpress.ui.notify({message:$('#startDate').val(),type:'success',durtion:3000, position: 'top right', direction: 'down-push'} );

        },
      },
    }, {
      location: 'before',
      widget: 'dxButton',
      locateInMenu: 'auto',
      options: {
        text:'下一週',
        icon: 'chevronright',
        onClick() {
          DevExpress.ui.notify({message:'往下一週!',type:'success',durtion:3000, position: 'top right', direction: 'down-push'} );
         
        }
      }}, {
      location: 'center',
      locateInMenu: 'never',
      template() {
        return $("<div class='toolbar-label'><b>Tom's Club</b> Products</div>");
      },
    }],
  });
  function addDays(date, days) {
    const newDate = new Date(date);
    newDate.setDate(date.getDate() + days);
    return newDate.toLocaleDateString();
}
});
function save()
  {
  console.log($('#slotid').val());
  var slotbtn=$('#'+$('#slotid').val());
  slotbtn.attr('disabled',true);
  slotbtn.text("已預約");
 // var dialog =new bootstrap.Modal($("#myModal"));
    $('#myModal').hide();
    $('.modal-backdrop').hide();

  }
  function submitText(e)
  {
    console.log(typeof(e));
            var html="Your name is "+e.getAttribute('data-slot-date')+"<br>Your age is "+e.getAttribute('data-slot-time').substring(0,5)
            +"<input type='text' id='slotid' value='"+e.getAttribute('id')+"' />";
            $("#slotid").val(e.getAttribute('id'));
            $("#user").val("cooper");
            $("#dept").val("資訊處");
            $("#email").val("cooper.huang@twport.com.tw");
            //$(".modal-body").html(html);

  }
  window.closeModal = function() {
    $('#myModal').modal('hide');
};
</script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>