@page
@model PrivacyModel
@using System.Text.Json
@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery antiforgery
@{
    ViewData["Title"] = "預約表 (週一至週五)";
   // ViewData["startDate"] = DateTime.Parse("2024-12-02");
   // ViewData["sndDate"] = DateTime.Parse("2024-12-07");
    var startDate = ViewData["startDate"];
  var endDate = ViewData["endDate"];
    var token = antiforgery.GetAndStoreTokens(HttpContext).RequestToken;
}
<h2>@ViewData["Title"]</h2>

<form id="form1" method="post">
  @Html.AntiForgeryToken()
<input type="hidden" id="startDate" value='@ViewData["startDate"]' />
<input type="hidden" id="endDate"  value='@ViewData["endDate"]' />
<div id="toolbar"></div>
<div>
<partial name="_partial_Booking" model="Model" />
</div>
</form>

<script>
  
  $(document).ready(function(){


  
  $('#toolbar').dxToolbar({
    items: [{
      location: 'before',
      widget: 'dxButton',
      options: {
        text:'前一週',
        icon: 'back',
        onClick() {
          var startDate=new Date($('#startDate').val())
          var endDate=new Date($('#endDate').val());
          $('#startDate').val(addDays(startDate,-7));
          $('#endDate').val(addDays(endDate,-7));
          var requestData = {
                "stratDate": $('#startDate').val(),
                "endDate": $('#endDate').val()
            };
          var serializedModel = JSON.stringify(requestData);
          var formData = new FormData();
          formData.append("stratDate", $('#startDate').val);
          formData.append("endDate", $('#endDate').val);
           /*$.get("Privacy?handler=ReadMsg").done(function (res) {
                console.log(res);
                $("#selectTable").html(res);
            });*/
          $.ajax({
        method: "post",
        url: "Privacy?handler=Query",
        //加上X-CSRF-TOKEN header
        beforeSend: function (xhr) {
            xhr.setRequestHeader("X-CSRF-TOKEN",
                $('input:hidden[name="__RequestVerificationToken"]').val());
        },
        error: function (xhr, status, err) {
            alert(err);
        }
    }).done(function (res) {
        $("#selectTable").html(res);
    });
          //DevExpress.ui.notify({message:$('#startDate').val(),type:'success',durtion:3000, position: 'top right', direction: 'down-push'} );

        },
      },
    }, {
      location: 'before',
      widget: 'dxButton',
      locateInMenu: 'auto',
      options: {
        text:'下一週',
        icon: 'chevronright',
        onClick() {
          DevExpress.ui.notify({message:'往下一週!',type:'success',durtion:3000, position: 'top right', direction: 'down-push'} );
         
        }
      }}, {
      location: 'center',
      locateInMenu: 'never',
      template() {
        return $("<div class='toolbar-label'><b>Tom's Club</b> Products</div>");
      },
    }],
  });
  function addDays(date, days) {
    const newDate = new Date(date);
    newDate.setDate(date.getDate() + days);
    return newDate.toLocaleDateString();
}
});
</script>
